<div class="container-fluid">

    <!--<input [(ngModel)]="searchText" type="search" class="form-control" placeholder="Search"
        style="margin: 10px auto; width: 50%;">!-->

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Matricule</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Email Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of fournisseurs ">
                <td>{{f.idFourn}}</td>
                <td>{{f.nomFourn}}</td>
                <td>{{f.matriculeFourn}}</td>
                <td>{{f.telFourn}}</td>
                <td>{{f.adrFourn}}</td>
                <td>{{f.emailFourn}}</td>
                <td>
                    <button class="btn btn-warning" style="margin-right: 5px;"
                        >Edit</button>
                    <button class="btn btn-danger" >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>